.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 350px;
    background-color: var(--beige);
}

.modal-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.modal-content p {
    color: var(--pink);
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.4;
}

.modal-content button {
    padding-top: 16px;
    font-size: 1.2rem;
    transition: 0.3s;
}

.modal-content button:hover{
    scale: 103%;
}
.modal-content button:active {
    scale: 97%;
}

.modal-content .btn-link{
    border: 1px solid var(--pink);
    text-decoration: none;
    border-radius: 8px;
    padding: 12px;
}

.close-x {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--pink);
}