.contacto {
    padding: 0 24px;
}

.contact-div {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contacto form .field {
    height: 24px;
    background: white;
    border: none;
    border-radius: 6px;
    margin-top: 16px;
    font-size: 16px;
    padding: 16px;
    color: var(--black);
    font-family: "Brother1816";
}

.contacto .field-mess {
    height: 120px;
    border-radius: 6px;
    resize: none;
    border: none;
    margin: 16px 0;
    padding: 16px;
    font-family: "Brother1816";
    font-size: 14px;
}

.contacto form button {
    height: 48px;
    background-color: var(--pink);
    border-radius: 8px;
    padding-top: 8px;
    color: white;
    border: none;
    font-family: "AlternateGotNO2";
    font-size: 28px;
    transition: .3s;
}

.contacto form button:hover {
    scale: 102%;
}


.contacto .social-media {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.contacto .social-media a {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    text-decoration: none;
    color: var(--black);
    transition: 0.3s scale;
    align-content: center;
}

.contacto .social-media h6{
    margin: 0;
    font-size: 32px;
    padding-bottom: 6px;
}

.contacto .social-media a:hover {
   scale: 103%
}

.contacto .social-media a img {
    width: 48px;
    padding-bottom: 16px;
}

@media (max-width: 680px) {
    .contact-div {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
    }

    .contacto .social-media {
        width: 100%;
        padding-top: 24px;
        flex-direction: row;
        justify-content: center;
        gap: 14px;
        align-items: center;
    }

    .contacto .social-media a {
        font-size: 12px;
        gap: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
       
    }

    .contacto .social-media h6{
        font-size: 20px;
        padding-bottom: 12px;
    }

    .contacto .social-media a img {
        width: 24px;

    }
}