.image-footer {
    padding-top: 80px;
    width: 95%;
    height: 40vw;
    position: relative;
    align-self: center;
    justify-self: center;
    border-radius: 42px;
    z-index: 1;
}

.image-footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 42px;
}

.image-footer h2 {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 28%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 10vw;
    text-align: center;

}

@media (max-width: 680px) {
    .image-footer {
        height: 55vw;
        border-radius: 28px;
    }

    .image-footer h2 {
        top: 40%;
        font-size: 13vw;
    }
        .image-footer img {
         
            border-radius: 26px;
        }
}