.instagram-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-bottom: 80px;
}

.instagram-wrapper h2 {
    font-size: 48px;
}

.shop .dot {
    width: 12px;
    height: 12px;
    background-color: var(--pink);
}

.instagram-viewport {
    width: 86%;
    /* Limitamos el ancho al 80% */
    overflow: hidden;
    /* Corta las imágenes que salen del 80% */
    position: relative;
    margin: 0 auto;
}

.instagram-carousel {
    display: flex;
    width: max-content;
    will-change: transform;
}

.instagram-item {
    position: relative;
    flex: 0 0 calc(80vw / 5);
    padding: 0 10px;
    box-sizing: border-box;
}

.instagram-link {
    position: relative;
    display: block;
    width: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--pink);
}

.instagram-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.3s;
}

.instagram-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Color de la sombra (negro al 50%) */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Oculto por defecto */
    transition: 0.3s;
}

/* Icono de Instagram */
.instagram-icon {
    width: 40px !important;
    height: auto !important;
    aspect-ratio: auto !important;
    transform: scale(0.8);
    transition: 0.3s;
}

/* EFECTOS AL HACER HOVER */
.instagram-item:hover .instagram-overlay {
    opacity: 1;
    /* Aparece la sombra */
}

.instagram-item:hover .instagram-icon {
    transform: scale(1);
    /* El icono crece un poco */
}

.instagram-item:hover img {
    transform: scale(1.05);
    /* Zoom suave a la imagen */
}

@media (max-width: 680px) {
    .instagram-item {
        flex: 0 0 calc(80vw / 3);
    }

    .instagram-viewport {
        width: 95%;
    }

}