.popular-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-list-layout {
    display: grid;
    grid-template-columns: 8% 84% 8%;
    align-items: center;
    width: 100%;

    margin: 0 auto;
}

.title h2 {
    font-size: 48px;

}

.popular-list {
    display: flex;
    width: max-content;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.popular-list-viewport {
    overflow: hidden;
    width: 100%;
    container-type: inline-size;
    touch-action: pan-y;
}

.popular-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    user-select: none;
    position: relative;

    width: 25cqw;
    min-width: 25cqw;

}

.popular-item img {
    -webkit-user-drag: none;
    user-select: none;
}

.popular-item .best-icon {
    left: 16px;

}

.popular-item-img-viewport {
    width: 100%;
    aspect-ratio: 6/7;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
    border: 2px solid var(--pink);
    overflow: hidden;
}

.popular-item-img-viewport img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .4s;
    -webkit-user-drag: none;
}


.popular-item h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: auto;
    padding-bottom: 24px;
    white-space: pre-line;
    margin-top: auto;
    padding-top: 8px;
    font-weight: 500;
}

.popular-item h4 {
    font-size: 22px;
    color: var(--pink);
    font-weight: 400;
    padding-bottom: 12px;
}

.popular-list-button {
    all: unset;
    height: 100%;
    display: flex;
    justify-content: center;
}

.popular-list-button img {
    width: 32px;
    padding-bottom: 5px;
}

.popular-item-button {
    all: unset;
    width: 108px;
    height: 32px;
    background-color: var(--pink);
    border-radius: 54px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    padding-top: 5px;
    transition: 0.3s;
    gap: 6px;
    font-size: 22px;
    padding-left: 4px;
    border: 2px solid var(--dark-pink);
    padding-top: 8px;

}

.popular-item-button img {
    width: 22px;
    padding-bottom: 10px;
}


.out-stock-button {
    background-color: var(--gray);
    cursor: not-allowed;
}

.popular-footer {
    display: flex;
    justify-content: end;
    padding: 16px 12%;
    align-items: center;
}

.popular-footer a {
    all: unset;
    text-align: end;
    font-size: 1.4rem;
    color: var(--pink);
    cursor: pointer;
}

.popular-item .casi-agotado {
    right: 14px;
}

@media (max-width: 880px) {

    .popular-item h3 {
        font-size: 24px;
    }

    .popular-item h4 {
        font-size: 20px;
    }

    .popular-list-layout {
        display: flex;
        width: 95%;
        padding-right: 12px;
    }

    .popular-list-button {
        display: none;
    }

    .popular-item {
        width: 40cqw;
        min-width: 40cqw;
    }
}

@media (hover: hover) {
    .popular-item-img-viewport img:hover {
        cursor: pointer;
        transform: scale(1.15);
    }

    .popular-item-img-viewport:hover {
        overflow: visible;
    }

    .popular-item-button:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}