.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--pink);
    font-size: max(8vw, 54px);
    margin: 0;
}

h4 {
    margin: 0;
    margin-top: -20px;
    font-size: max(2vw, 16px);
}

.selector {
    width: 100%;
    height: 80px;
    background-color: var(--blue);
    margin-top: 20px;
    color: white;
    font-size: 48px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.selector .current {
    padding-top: 15px;
}

.selector img {
    width: 35px;
    height: 35px;
    padding-right: 8px;
}

.selector button {
    height: 100%;
    background-color: transparent;
    border-width: 0;
}

.game_grid{
    width: 100%;
}

.game {
    width: 95%;
    display: flex;
    padding: 12px 2.5%;

    flex-wrap: wrap;
    justify-content: space-around;
}


.descripcion {
    padding: 20px 0 100px 0;
    color: var(--black);
    font-size: max(2vw, 16px);
}





@media (max-width: 680px) {
    .game {
        width: 80%;
        padding: 12px 10%;
    }
}