.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--pink);
    font-size: max(8vw, 54px);
    margin: 0;
}

h4 {
    margin: 0;
    margin-top: -20px;
    font-size: max(2vw, 16px);
}

.selector {
    width: 100%;
    height: 80px;
    background-color: var(--blue);
    margin-top: 20px;
    color: white;
    font-size: 48px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.selector .current {
    padding-top: 15px;
}

.selector img {
    width: 35px;
    height: 35px;
    padding-right: 8px;
}

.selector button {
    height: 100%;
    background-color: transparent;
    border-width: 0;
}

.game {
    width: 95%;
    display: grid;
    padding: 32px 0;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px 15px;
}

.game .sticker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game img {
    width: 80%;
    max-height: 100px;
    max-width: 100px;
}

.descripcion{
    padding: 20px 0 100px 0;
    color: var(--black);
    font-size: max(2vw, 16px);
}

.game_margin{
    height: 400px;
}

.challenges{
    position: absolute;
    top: 120px;
    left: 4vw;
    background-color: white;
    width: 80vw;
    color: var(--blue);
    font-size: max(3vw, 28px);
    display: flex;
    flex-direction: column;

}

.challenges .challenge{
    display: flex;
    padding: 24px 8px 0 0;
}

.challenges .number{
    padding: 2px 16px;
    font-family: keynote;
}

@media (max-width: 680px) {
    .game {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 24px;
        width: 80%;
    }
}