.product-main-wrapper {
    padding-top: 4px;
    display: flex;
    width: 90%;
    justify-self: center;
    gap: 40px;
    margin-bottom: 48px;
}

.product-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 48%;
}

.product-media-layout {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.product-main .best-icon {
    width: 18%;
    top: 14px;
    left: 14px;
}

.product-main-image-container {
    flex: 1;
    aspect-ratio: 3/4;
    overflow: hidden;
    cursor: zoom-in;
    border-radius: 26px;
    border: 2px solid var(--pink);
    position: relative;
}

.product-main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out;
    will-change: transform, transform-origin;
}

.product-main-gallery {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-main-gallery button {
    all: unset;
    box-sizing: border-box;
    width: 90px;
    aspect-ratio: 3/4;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid var(--pink);
    overflow: hidden;
}

.product-main-image-selct {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.flavors-pills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    column-gap: 12px;
    margin-top: 24px;
    justify-content: flex-start;
    width: 100%;
}

.flavor-pill {
    display: inline-flex;
    align-items: center;
    padding: 6px 14px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    gap: 8px;
    height: fit-content;
}

.flavor-pill-icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.flavor-pill-title {
    padding-top: 6px;
    font-size: 22px;
    color: var(--black);
    text-transform: capitalize;
    font-family: AlternateGotNO2;
}

.product-main-description {
    display: flex;
    flex-direction: column;
    width: 52%;
}

.product-main-description h2 {
    font-size: 2.8rem;
    margin: 0;
}

.product-main-description h3 {
    color: var(--pink);
    font-size: 2.2rem;
    margin: 0;
}

.product-main-description h4 {
    font-size: 1.8rem;
    text-align: justify;
    margin: 8px 0;
}

.product-main-description h6 {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
    color: var(--gray);
}

.product-main-description p {
    font-size: 1.2rem;
    margin: 0;
}

.product-main-description .product-stickers {
    margin-top: 12px;
    background-color: var(--gray);
    color: white;
    display: flex;
    border-radius: 24px;
    width: 120px;
    padding: 2px 8px;
    gap: 4px;
}

.product-main-description .product-stickers p{
    padding-top: 4px;
    font-size: 18px;
    font-style: italic;
}

.product-main-description .product-stickers img{
    width: 18px;
    
}

.product-main-description .size-section {
    display: flex;
    align-items: center;
}

.product-main-description .size-section select {
    background-color: transparent;
    border: 2px solid var(--pink);
    border-radius: 8px;
    font-family: inherit;
    margin: 0 8px;
    padding: 5px 0;
    padding-top: 8px;
    font-size: 1rem;
    font-style: italic;
}

.product-quantity {
    display: flex;
    gap: 12px;
    height: min-content;
    align-items: center;
    align-content: center;
}

.product-main-description .product-quantity {
    padding-top: 32px;
    display: flex;
    gap: 12px;
    height: min-content;
    align-items: center;
    align-content: center;
}

.product-quantity button {
    all: unset;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
    display: flex;
}

.product-quantity img {
    width: 100%;
    height: 100%;
}

.product-quantity input {
    font-size: 26px;
    color: var(--pink);
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 8px;
    height: 100%;
    font-family: AlternateGotNO2;
    padding-top: 8px;
    background-color: transparent;
}

.product-quantity input:focus {
    outline: 1px solid var(--pink);
}

.product-quantity button:active {
    scale: 95%;
}

.product-main-add {
    all: unset;
    width: 100%;
    height: 48px;
    background-color: var(--pink);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    padding-top: 10px;
    color: white;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid var(--dark-pink);
}

.product-main-add:active {
    scale: 95%;
}

.out-stock-button {
    background-color: var(--gray);
    cursor: not-allowed;
}

.price-wrapper {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}


@media (max-width: 880px) {
    .product-main-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .product-main {
        width: 100%;
    }

    .product-main-gallery button {
        width: 72px;
    }

    .product-media-layout {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .product-main-gallery {
        order: 2;
        flex-direction: row;
        width: 92%;
        justify-content: flex-start;
    }

    .product-main-image-container {
        order: 1;
        width: 92%;
    }

    .product-main-description {
        padding: 0;
        margin-top: 12px;
        width: 92%;
        align-self: center;
    }

    .product-main-description p {
        font-size: 24px;
    }

    .flavors-pills-list {
        width: 92%;
        margin-top: 12px;
        justify-content: center;
    }

    .flavor-pill {
        padding: 4px 16px;
        border-width: 1.7px;
    }

    .flavor-pill-title {
        font-size: 20px;
    }

    .flavor-pill-icon {
        width: 15px;
        height: 15px;
    }
}

@media (hover: hover) {
    .product-main-image:hover {
        transform: scale(1.5);
        object-fit: contain;
    }

    .product-quantity button:hover {
        transform: scale(1.05);
    }

    .product-main-add:hover {
        transform: scale(1.05);
    }

    .product-main-image-selct:hover {
        transform: scale(1.05);
    }
}