.success-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 90%;
    align-self: center;
}

.success-wrapper a{
    all: unset;
    cursor: pointer;
    border: 1px solid var(--pink);
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    display: flex;
    justify-content: center;
    color: var(--pink);
    padding-top: 16px;
    font-size: 1.3rem;
    transition: 0.3s;
}

.success-wrapper a:hover {
    scale: 103%;
}   

.success-wrapper .btn-primary{
    font-size: 18px;
    padding-top: 16px;
    margin: 0;
}

.success-wrapper p{
    margin: 0;
    font-size: 18px;
    text-align: center;
}