.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: AlternateGotNO2;
}

:root {
    --black: #1d1d1d;
    --beige: #f8efe8;
    --blue: #333e7e;
    --pink: #e6007e;
    background-color: var(--beige);
    color: var(--black);
}

body{
    margin: 0;
}


@font-face {
    font-family: AlternateGotNO2;
    src: url("../src/assets/fonts/AlternateGotNo2D.otf");
}

@font-face {
    font-family: Brother1816;
    src: url("../src/assets/fonts/Brother1816Printed-Medium.otf");
}

@font-face {
    font-family: Keynote;
    src: url("../src/assets/fonts/FilmotypeKeynote.otf");
}