.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Brother1816;
}

:root {
    background-color: #f8efe8;
    color: #1d1d1d;
}


@font-face {
    font-family: AlternateGotNO2;
    src: url("../src/assets/fonts/AlternateGotNo2D.otf");
}

@font-face {
    font-family: Brother1816;
    src: url("../src/assets/fonts/Brother1816Printed-Medium.otf");
}